/* style.css */

body {
    background: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#todo-container {
    background: #fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2, label, p {
    color: #333;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background: #d4edda;
}

.task-text {
    flex-grow: 1;
}

.task-buttons button {
    margin-left: 10px;
    background: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.task-buttons button:hover {
    background: #d32f2f;
}

.complete-button {
    background: #4CAF50;
}

.complete-button:hover {
    background: #45a049;
}
